<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Practice <% theme.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/assets/card.css" />
    <script src="/public/script.js"></script>


    <script>
        let answer = "<%= theme.cards[theme.currentCard].answer %>";
        let question = "<%= theme.cards[theme.currentCard].question %>";
        let showans = true;
        let animation = false;
        
        function rotateText(text, e){
            animation = true;
            setTimeout(function(){
                e.innerHTML = text;
            },250);
             setTimeout(function(){
                animation = false;
            },500);
        }
        function showAnswer(){
            if(animation == false){
                let card = document.getElementById("currentCard");
                
                let text = document.getElementById("text");
                
                if(showans){
                    showans = false;
                    card.style.transform = "rotateY(180deg)";
                    text.style.transform = "rotateY(-180deg)";
                    rotateText(answer, text)
                } else{              
                    showans = true;
                    card.style.transform = "rotateY(0deg)";
                    text.style.transform = "rotateY(0deg)";
                    rotateText(question, text);
                }
            }
          
           
        } 
        

    </script>
    <style>
  
</style>
</head>
<body>
    <nav id="navbar">
        <ul>
            <a href ="/"><li>Home</li></a>
            <a href ="/edit/<%=theme.title%>/<%=theme.id%>"><li>Edit Deck</li></a>
            <a href ="/progress/<%=theme.title%>/<%=theme.id%>"><li>Progress</li></a>
        </ul>
    </nav>
    <div id="headers">    
        <h1>Practicing <%= theme.title %></h1>
        <h3>Good luck!</h3>
        <h3><%= theme.completed.length %> / <%= theme.cards.length + theme.completed.length %></h3>
        
    </div>
    <div id="container">
        <form action=/theme/<%=theme.title%>/<%=theme.id%> method="POST">
            <input type=hidden name=deck value="<%=theme.id%>">
            <input type=hidden name=card value="<%=theme.currentCard%>">
            <input type=hidden name=answer value=wrong>
            <button id="wrongBtn" class="button" type="submit">Wrong</button>
            </form>

            <div id="currentCard">
                <p id="text"><%= theme.cards[theme.currentCard].text %></p>
            </div>

        <form action=/theme/<%=theme.title%>/<%=theme.id%> method="POST">
            <input type=hidden name=deck value="<%=theme.id%>">
            <input type=hidden name=card value="<%=theme.currentCard%>">
            <input type=hidden name=answer value=right>
            <button id="rightBtn" class="button" type="submit">Right</button>
        </form>
        
    </div>
    <div id="showAnswerContainer">
        <button onclick="showAnswer()" id="showAnswerBtn">Show Answer</button>
    </div>
</body>
</html>