<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/assets/card.css" />
    <script src="/public/script.js"></script>

    <script>
        let answer = "<%= theme.cards[theme.currentCard].answer %>";
        function showAnswer(){
            document.getElementById("currentCard").innerHTML = answer;
        } 
    </script>
    <style>
  
</style>
</head>
<body>
    <% include ../views/navbar.ejs %>
    <h1>Practicing <%= theme.title %></h1>
    <h3>Good luck!</h3>

    <h3><%= theme.completed.length %> / <%= theme.cards.length + theme.completed.length %></h3>

    <div id="container">
        <form action=/theme/<%=theme.title%>/<%=theme.id%> method="POST">
            <input type=hidden name=deck value="<%=theme.id%>">
            <input type=hidden name=card value="<%=theme.currentCard%>">
            <input type=hidden name=answer value=wrong>
            <button id="wrongBtn" type="submit">Wrong</button>
        </form>
        <form action=/theme/<%=theme.title%>/<%=theme.id%> method="POST">
            <input type=hidden name=deck value="<%=theme.id%>">
            <input type=hidden name=card value="<%=theme.currentCard%>">
            <input type=hidden name=answer value=right>
            <button id="rightBtn" type="submit">Right</button>
        </form>

        <div id="currentCard"><%= theme.cards[theme.currentCard].text %></div>
        <button onclick="showAnswer()" id="showAnswerBtn">Show Answer</button>
    </div>
</body>
</html>