<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Deck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/assets/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form action=/edit/<%= theme.title %>/<%= theme.id %> method="POST">
        Question:            <input type="text" name="Question" /> <br><br>
        Answer:             <input type="text" name="Answer" /> <br><br>
        <input type="submit" />
    </form> 
    <% for(let i = 0; i < theme.cards.length; i++) { %>
        <div><b>Question:</b> <%= theme.cards[i].question %>, <b>Answer:</b> <%= theme.cards[i].answer %> <a href="/remove/<%=theme.id%>/<%=i%>"style="color:red; text-decoration:none">X</a></div>
        <br>
   <% } %>
  <b> Amount of questions</b>: <%= theme.cards.length %>
</body>

