<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Progress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/assets/main.css" rel="stylesheet" type="text/css" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <nav id="navbar">
        <ul>
            <a href ="/"><li>Home</li></a>
            <a href ="/edit/<%=theme.title%>/<%=theme.id%>"><li>Edit Deck</li></a>
            <a href ="/progress/<%=theme.title%>/<%=theme.id%>"><li>Progress</li></a>
        </ul>
    </nav>
<h3><%= theme.title %></h3>
    <table>
  <tr>
    <th>Date</th>
    <th>Right answers</th>
    <th>Amount of Questions</th>
  </tr>
  <% for(let i = theme.progress.length - 1; i >= 0; i--) { %>
  <tr>
    <td><%= theme.progress[i].date %></td>
    <% let r = Math.floor(theme.progress[i].right/theme.progress[i].questions*100) %>
    <% let c = "lightgreen" %>
    <% if(r < 75){ %>
    <%  c = "red"%>
    <% } %>
    <td style="color:black;"><div style="width:<%=r%>%; background:<%= c %>;"> <%= theme.progress[i].right %> <br><%= r%>% </div></td>
    
    <td><%= theme.progress[i].questions %></td>

  </tr>
<% } %>
</table>
</body>
